# Sterling
input {
	file {
		path => "/var/log/sterlingtest.log"
		start_position => "beginning"
	}
}

filter {
	multiline {
		pattern => "^(?!%{TIMESTAMP_ISO8601})"
		negate => true
		what => "previous"
	}
	grok {
		match => [ "message", "(?m)%{TIMESTAMP_ISO8601:timestamp}\:%{LOGLEVEL:severity}.+?\:%{GREEDYDATA:theRest}" ]
		overwrite => [ "message" ]
	}
	date {
		match => [ "timestamp" , "yyyy-MM-dd HH:mm:ss,SSS" ]
	}
}

output {
	stdout { codec => rubydebug }
}



# ESB
input {
	file {
		path => "/var/log/esbtest.log"
		start_position => "beginning"
	}
}

filter {
	multiline {
		pattern => "^(?!%{MYDATE})"
		negate => true
		what => "previous"
	}
	grok {
		pattern_definitions => { 
			"MYDATE" => "\d\d\d\d/\d\d/\d\d\s\d\d:\d\d:\d\d,\d\d\d"
			"MYPROCESSOR" => "\s.+?\s"
			"MYBUNDLE" => "\s.+?\s"
		}
		match => [ "message", "^(?m)%{MYDATE:timestamp}\s\|\s%{LOGLEVEL:severity}\s\|\s%{URIPATH:uripath}\s\|%{MYPROCESSOR:processor}\|%{MYBUNDLE:bundle}\|\s%{GREEDYDATA:theRest}" ]
		overwrite => [ "message" ]
	}
	date {
		match => [ "timestamp" , "yyyy-MM-dd HH:mm:ss,SSS" ]
	}
}

output {
	stdout { codec => rubydebug }
}