# Sterling
input {
  file {
    path => "/home/gumby/logs/yoms/*.log"
    exclude => "*.gz"
    start_position => "beginning"
    codec => multiline {
      pattern => "^\d\d\d\d-\d\d-\d\d\s\d\d\:\d\d\:\d\d,\d\d\d\s\|"
      negate => true
      what => "previous"
    }
  }
}
filter {
  grok {
    match => {
      "message" => [ '(?m)%{TIMESTAMP_ISO8601:timestamp}\:%{LOGLEVEL:severity}.+?\:%{GREEDYDATA:theRest}' ]
    }
    overwrite => [ "message" ]
  }
    date {
    match => [ "timestamp" , "yyyy-MM-dd HH:mm:ss.SSS" ]
  }
}
output {
  file {
    path => "/home/gumby/logs/yoms.log"
    codec => rubydebug
  }
}



# ESB
input {
  file {
    path => "/home/gumby/logs/esb/*.log"
    exclude => "*.gz"
    start_position => "beginning"
    codec => multiline {
      pattern => "^\d\d\d\d/\d\d/\d\d\s\d\d\:\d\d\:\d\d,\d\d\d\s\|"
      negate => true
      what => "previous"
    }
  }
}
filter {
  grok {
    patterns_dir => [ "/home/gumby/patterns" ]
    patterns_files_glob => "*"
    match => {
      "message" => '^(?m)%{MYDATE:timestamp}\s\|\s%{MYDATA:severity}\s\|\s%{MYDATA:uri}\s\|\s%{MYDATA:processor}\s\|\s%{MYDATA:bundle}\s\|\s%{GREEDYDATA:theRest}'
    }
    overwrite => [ "message" ]
  }
  date {
    match => [ "timestamp", "yyyy-MM-dd HH:mm:ss,SSS" ]
  }
}
output {
  file {
    path => "/home/gumby/logs/esb.log"
    codec => rubydebug
  }
}


# patterns/extra
MYDATE \d\d\d\d/\d\d/\d\d\s\d\d\:\d\d\:\d\d\,\d\d\d
MYDATA .+?


